.main-chat
  .group-edit
    .current
      .current--group
        = @group.name
      %ul.current__member-list
        Member：
        %li.current__member-list--first
          - @group.users.each do |group|
            = group.name
      = link_to edit_group_path(@group), class: "group-edit--btn" do
        Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
      .input-box
        = f.label :image, class: "input-box__image" do
          = icon('fas', 'image')
          = f.file_field :image, class: "input-box__image__file"
      = f.submit 'Send', class: "submit-btn"