.side-bar
  .user-name
    .top-box
      = current_user.name
      .top-box__name
      .top-box__icon
        = link_to new_group_path, class: "top-box__icon--btn" do
          <i class="far fa-edit"></i>
        = link_to edit_user_path(current_user.id), class: "top-box__icon--btn" do
          <i class="fas fa-cog"></i>
  .side-groups
    - current_user.groups.each do |group|
      .side-groups__list
        = link_to '#' do
          .side-groups__list--name
            = group.name
          .side-groups__list--message
            まだメッセージがありません。      